<nav class="navbar navbar-expand-lg navbar-light bb-bg-black">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="./index.html">
      <img src="./assets/images/logos/logo-black-box-w.svg" class="navbar-brand-img" width="120px" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="navbar-collapse collapse" id="navbarCollapse" style="">

      <!-- Toggler -->
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->

      <!-- Button -->
      <a class="navbar-btn btn-bb btn-sm btn-bb-outline-secondary lift ms-auto" href="https://themes.getbootstrap.com/product/landkit/" target="_blank">
        Try now for free
      </a>

    </div>

  </div>
</nav>
